html, body {
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    background-color: #ffb81c;
    width: 100%;
    height: 5%;
    justify-content: center;
}

.logo-container {
    width: 30%;
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pagination .page-item.active .page-link {
    background-color: #ffb81c;
    color: black;
}

.pagination .page-link {
    color: black;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
}

.pagination .page-link:hover {
    background-color: rgb(129, 88, 7);
}

.pagination .page-item.active .page-link:focus,
.pagination .page-item .page-link:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pagination .page-item.disabled .page-link {
    color: rgb(121, 120, 119);
}

@media (max-width: 768px) {
    .header {
        height: 8%;
    }

    .logo-container {
        width: 40%; 
    }
}

@media (max-width: 480px) {
    .header {
        height: 10%;
        padding: 10px;
    }

    .logo-container {
        width: 50%; 
    }
}

.my-navbar {
    background-color: #443627; 
    padding: 10px 20px; 
}

.my-navbar .nav-item {
    margin-right: 15px; 
}

.my-navbar .nav-link {
    color: white !important; 
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.my-navbar .nav-link:hover {
    color: #f8f9fa !important; 
    text-decoration: underline;
}

.my-navbar .btn {
    color: black !important; 
    background-color: #EFDCAB; 
    border: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease-in-out;
}

.my-navbar .btn:hover {
    background-color: #6b490b; 
    color: white !important;
}

.my-navbar .dropdown-menu {
    background-color: #443627; 
    border: none;
}

.my-navbar .dropdown-item {
    color: white !important; 
    transition: background-color 0.3s ease-in-out;
}

.my-navbar .dropdown-item:hover {
    background-color: #495057; 
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1); 
}

.footer-container {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: auto;
}